.bpw-send-button {
    display: flex; /* Set the button to be arranged using flexible layout */
    justify-content: center; /* Center the button's content horizontally */
    align-items: center; /* Center the button's content vertically */
    border-radius: var(
      --spacing-medium
    ); /* Make the corners of the button slightly rounded */
    background-color: var(
      --black
    ); /* Give the button a primary color background */
    padding: 20px; /* Add some extra space around the button's content */
    width: 24px; /* Set the button's width to be 24 pixels */
    height: 24px; /* Set the button's height to be 24 pixels */
    color: transparent; /* Hide any text that might appear inside the button */
    cursor: pointer; /* Show the pointer cursor when the button is hovered over */
    background-image: url(./button.png) !important; /* Add an image to the button */
    background-repeat: no-repeat !important; /* Don't repeat the image */
    background-position: center !important; /* Center the image inside the button */
    transition: background-color 0.2s; /* Make the button's background color change smoothly over a short period of time */
  }
